*{
    box-sizing: border-box;
}

body{
    background-color: rgb(6, 76, 110);
    display: block;
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header_menu{
    background-color: brown;
    padding: 20px;
    }

nav{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;

}

.content{
    display: flex;
    flex-wrap: wrap;
    float: none;
    position: relative;
    background-color: aqua;
}

.aside{
    background-color: antiquewhite;
    padding: 20px;
    width: 20%;
}

.card_content{
    padding: 20px;
    background-color: blue;
    width: 80%;
}

.escudo{
    margin: auto;
    align-content: center;
}

footer{
    background-color: aqua;
    padding: 20px;
}