*{
    box-sizing: border-box;
}

body{
    background-color: rgb(6, 76, 110);
    display: block;
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    justify-content: center;
}

h1{
    text-align: center;
}

.header_menu{
    background-color: brown;
    padding: 5px;
    }

nav{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

nav a{
    margin: 10px;
    padding: 10px;
    background-color: bisque;
}

.content{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    background-color: rgb(85, 79, 253);
    height: 740px;
    justify-content: center;
    margin: auto;
}

.aside{
    background-color: antiquewhite;
    width: 25%;
}

.card_content{
    padding: 20px;
    background-color: blue;
    width: 65%;
}

.escudo{
    margin: auto;
    width: 150px;
    height:150px;
    position: relative;
    border: 10px solid black;
    border-radius: 150px;
    top: -55px;
    left: 75px;
}

.card_aside{
    background-color: aliceblue;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 95%;
    border-radius: 15px;
}

aside p{
    margin: 5px;
    margin-top: -50px;
    padding: 10px;
    background-color: antiquewhite;
}

footer{
    background-color: aqua;
    padding: 20px;
}