*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(24deg, rgba(0,117,158,1) 0%, rgba(0,147,255,1) 41%, rgba(130,234,255,1) 100%);
    display: block;
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    justify-content: center;
}

h1{
    text-align: center;
    font-family: ;
}

.header_menu{
    padding: 5px;
    }

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}
.fixed{
    position: fixed;
}

nav a{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    text-align: center;    
    width: 100px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    width: 95%;

    justify-content: center;
    margin: auto;
}

.aside{
    width: 30%;
    display: flex;
}

.bloque{
    padding: 20px;
    height: 450px;

}

.lista li{
    margin-top: 5px;
}

.escudo{
    width: 50%;
    position: relative;
    border-radius: 50%;
    top: -55px;
    align-self: center;
}

.descripcion{
    text-align: center;
}

.card_aside{
    background: linear-gradient(24deg, rgba(185,185,185,1) 0%, rgba(227,227,227,1) 41%, rgba(255,255,255,1) 100%);
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 90%;
    height: 95%;
    max-height: 720px;
    border-radius: 15px;
}

.subtitulo{
    margin-top: 5px;
}

.coso{
    display: flex;
    flex-direction: column;
    width: 60%;
}

aside p{
    margin: 5px;
    margin-top: -40px;
    padding: 10px;
}

footer{
    padding: 20px;
    text-align: center;
}

.formulario{
    background: linear-gradient(24deg, rgba(185,185,185,1) 0%, rgba(227,227,227,1) 41%, rgba(255,255,255,1) 100%);
    padding: 15px;
    border-radius: 15px;
}